{% extends "layout.html" %}
{% block title %}
Shop Homepage - Novo Evento
{% endblock %}
{% block content%}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class=" justify-content-center">
           <h1 class="display-4 fw-bolder">Novo Evento</h1>         
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                <label class="form-label" for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
                </div>
            {% endfor %}
            <div class="d-flex justify-content-between">  
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="{% url 'evento:evento_list' %}" class="btn btn-danger">Cancelar</a>
            </div>
            </form>

        </div>
    </div>
</section>
{% endblock %}
